/*RESET*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * ul {
    list-style: none; }
  * a {
    text-decoration: none; }

/*----------PALETA DE COLOR----------*/
/*----------MIXINS----------*/
/*-----listas-----*/
/*------mapas-----*/
/*extends*/
header .barra-notificaciones, main .servicios-pagina h1, main .galeria-pag h1, main .curso-pagina, main .cursos-pagina, main .iniciar-seccion, main .contacto-pagina, main .mapa {
  display: flex;
  justify-content: center;
  align-items: center; }

/*HEADER*/
header .barra-notificaciones {
  background-color: #fe9a9a;
  height: 40px; }
  header .barra-notificaciones a {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 30px; }

header .barra-principal {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  header .barra-principal .button {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none; }
    header .barra-principal .button svg {
      width: 30px;
      height: 30px;
      color: #000000;
      transition: 0.3s; }
      header .barra-principal .button svg:hover {
        color: #fe9a9a; }
  header .barra-principal .nav .ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center; }
    header .barra-principal .nav .ul .li {
      margin: 0;
      padding: 0; }
      header .barra-principal .nav .ul .li .a {
        display: block;
        padding: 16px;
        color: #020202;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        transition: 0.5s; }
        header .barra-principal .nav .ul .li .a:hover {
          color: #fe9a9a; }

main {
  /*INDEX*/
  /*SERVICIOS*/
  /*GaALERIA*/
  /*CURSOS*/
  /*PLATAFORMA*/
  /*CONTACTO*/ }
  main .foto-principal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/nails.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 15px; }
    main .foto-principal h1 {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 48px;
      margin: 0;
      text-align: center; }
    main .foto-principal .botton-principal {
      margin-top: 16px; }
      main .foto-principal .botton-principal a {
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 19px;
        display: inline-block;
        padding: 16px 32px;
        background-color: #fe9a9a;
        border-radius: 5px;
        transition: 1s; }
        main .foto-principal .botton-principal a:hover {
          transform: scale(1.2); }
  main .servicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
    main .servicios .servicios-card {
      text-align: center;
      width: 300px;
      height: auto;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 30px;
      margin: 20px;
      transition: 1s; }
      main .servicios .servicios-card img {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        border-radius: 10px; }
      main .servicios .servicios-card h3 {
        color: #080808;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        margin: 0;
        margin-bottom: 25px; }
      main .servicios .servicios-card a {
        background-color: #fe9a9a;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: bold; }
      main .servicios .servicios-card:hover {
        transform: scale(1.1); }
  main .informacion-profesional {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 300px;
    padding-right: 500px;
    padding-bottom: 30px;
    padding-top: 50px; }
    main .informacion-profesional img {
      margin-left: 10px;
      max-width: 100%;
      transition: 1s; }
      main .informacion-profesional img:hover {
        transform: scale(1.1);
        box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75); }
    main .informacion-profesional .tex-informacion {
      text-align: center;
      color: #000000;
      font-family: "Open Sans", sans-serif;
      font-size: 40px; }
      main .informacion-profesional .tex-informacion p {
        color: #fe9a9a;
        font-family: "Open Sans", sans-serif;
        font-size: 20px; }
  main .servicios-pagina h1 {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px; }
    main .servicios-pagina h1 span {
      color: #fe9a9a; }
  main .servicios-pag {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; }
    main .servicios-pag .servicios-card-pagina {
      text-align: center;
      width: 300px;
      height: auto;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 30px;
      margin: 20px;
      transition: 1s; }
      main .servicios-pag .servicios-card-pagina img {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        border-radius: 10px; }
      main .servicios-pag .servicios-card-pagina h3 {
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        margin: 0;
        margin-bottom: 25px; }
      main .servicios-pag .servicios-card-pagina a {
        background-color: #fe9a9a;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: bold; }
      main .servicios-pag .servicios-card-pagina:hover {
        transform: scale(1.2); }
  main .galeria-pag h1 {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 30px; }
    main .galeria-pag h1 span {
      color: #fe9a9a; }
  main .carrussel {
    padding: 40px; }
  main .conteiner-img {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px; }
    main .conteiner-img .box-img {
      width: 100%;
      height: 100%; }
      main .conteiner-img .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
        transition: 1s; }
        main .conteiner-img .box-img img:hover {
          transform: scale(1.1);
          box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75); }
      main .conteiner-img .box-img:nth-child(1) {
        grid-column-start: span 2; }
      main .conteiner-img .box-img:nth-child(4) {
        grid-row-start: span 2; }
  main .curso-pagina {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 30px; }
    main .curso-pagina span {
      color: #fe9a9a; }
  main .carrusel-cursos {
    padding: 50px; }
  main .informacion-curso {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: normal; }
    main .informacion-curso h2 {
      color: #000000;
      font-family: "Open Sans", sans-serif;
      font-size: 30px;
      text-align: center; }
      main .informacion-curso h2 span {
        color: #fe9a9a; }
    main .informacion-curso .card-curso {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding-bottom: 50px; }
      main .informacion-curso .card-curso a {
        background-color: #fe9a9a;
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 17px; }
  main .plataforma {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 80px;
    font-family: "Open Sans", sans-serif; }
    main .plataforma h2 {
      color: #000000; }
    main .plataforma p {
      color: #fe9a9a;
      text-align: center; }
    main .plataforma a {
      background-color: #fe9a9a;
      border: none;
      border-radius: 5px;
      padding: 10px;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      transition: 1s; }
      main .plataforma a:hover {
        transform: scale(1.1); }
  main .cursos-pagina {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 30px; }
    main .cursos-pagina span {
      color: #fe9a9a; }
  main .iniciar-seccion {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding: 40px; }
    main .iniciar-seccion button {
      background-color: #fe9a9a;
      color: #ffffff; }
  main .contacto-pagina {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 30px; }
    main .contacto-pagina span {
      color: #fe9a9a; }
  main .informacion-pagina {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 500px;
    padding-bottom: 30px;
    padding-top: 50px; }
    main .informacion-pagina img {
      margin-left: 10px;
      max-width: 100%;
      transition: 1s; }
      main .informacion-pagina img:hover {
        transform: scale(1.2);
        box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75); }
    main .informacion-pagina .tex-informacion {
      color: #000000;
      font-family: "Open Sans", sans-serif;
      font-size: 40px;
      text-align: center; }
      main .informacion-pagina .tex-informacion p {
        color: #fe9a9a;
        font-family: "Open Sans", sans-serif;
        font-size: 20px; }
      main .informacion-pagina .tex-informacion a {
        display: inline-block;
        padding: 16px 32px;
        background-color: #fe9a9a;
        color: #ffffff;
        font-family: "Open sans", sans-serif;
        font-size: 19px;
        border-radius: 5px;
        transition: 1s; }
        main .informacion-pagina .tex-informacion a:hover {
          transform: scale(1.2); }
  main .mapa {
    padding: 50px; }
  main .ubicacion-contacto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px; }
    main .ubicacion-contacto i {
      color: #000000;
      font-size: 50px;
      transition: 0.3s; }
      main .ubicacion-contacto i:hover {
        color: #fe9a9a;
        transform: scale(1.2); }
    main .ubicacion-contacto .item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      transition: 0.3s; }
      main .ubicacion-contacto .item p {
        color: #000000;
        font-family: "Open sans", sans-serif;
        font-size: 20px; }
  main .formulario {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: normal;
    color: #000000;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    padding: 50px; }
    main .formulario button {
      color: #000000;
      font-family: "Open sans", sans-serif;
      font-size: 19px;
      text-align: center; }

footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fe9a9a;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 50px 0; }
  footer .logo-footer {
    max-width: 100px; }
  footer .redessociales-footer {
    margin: 20px 0; }
    footer .redessociales-footer i {
      color: #ffffff;
      font-size: 45px;
      transition: 1s;
      padding: 5px; }
      footer .redessociales-footer i:hover {
        color: #000000; }
  footer h3 a {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
    transition: 1.2s; }
    footer h3 a:hover {
      color: #000000; }

@media screen and (max-width: 1629px) {
  main .informacion-profesional {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px; }
    main .informacion-profesional .tex-informacion {
      padding: 20px; }
  main .informacion-pagina {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px; }
    main .informacion-pagina .tex-informacion {
      padding: 20px; } }

@media screen and (max-width: 979px) {
  main .card-curso {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center; } }

@media screen and (max-width: 800px) {
  main .carrussel {
    padding: 5px; }
  main .conteiner-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-rows: 200px; }
    main .conteiner-img .box-img:nth-child(1) {
      grid-column-start: span 1; }
  main .carrusel-cursos {
    padding: 5px; }
  main .mapa {
    padding: 10px; }
  main .ubicacion-contacto i {
    padding: 30px; } }

@media screen and (max-width: 771px) {
  main .ubicacion-contacto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px; } }

@media screen and (max-width: 661px) {
  header .barra-principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
    header .barra-principal .logo-header {
      padding-right: 100px; }
      header .barra-principal .logo-header img {
        height: 150px; }
    header .barra-principal .button {
      display: block; }
    header .barra-principal .nav {
      width: 100%;
      display: none;
      opacity: 0;
      height: 0vh;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      header .barra-principal .nav .ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; }
      header .barra-principal .nav.activo {
        display: flex;
        opacity: 1;
        height: 50vh;
        pointer-events: auto; }
  main .foto-principal {
    margin: 10px; } }

@media screen and (max-width: 500px) {
  main .conteiner-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr); }
    main .conteiner-img .box-img {
      height: 200px; } }
