@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * ul {
    list-style: none; }
  * a {
    text-decoration: none; }

header .barra-notificaciones {
  background-color: #fe9a9a;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  header .barra-notificaciones a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header nav label {
    color: #000000;
    font-size: 30px; }
  header nav .ocult, header nav #check {
    display: none; }
  header nav ul {
    margin: 0;
    padding: 0;
    display: flex; }
    header nav ul li {
      margin: 0;
      padding: 0; }
      header nav ul li a {
        display: block;
        padding: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #000000;
        transition: 0.5s; }
        header nav ul li a:hover {
          color: #fe9a9a; }

.foto-principal {
  background-image: url(../img/nails.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-right: 70px;
  margin-left: 70px;
  border-radius: 15px; }
  .foto-principal h1 {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 0;
    font-size: 48px;
    text-align: center; }
  .foto-principal .botton-principal {
    margin-top: 16px; }
    .foto-principal .botton-principal a {
      font-family: "Open Sans", sans-serif;
      display: inline-block;
      padding: 16px 32px;
      background-color: #fe9a9a;
      color: white;
      font-size: 19px;
      border-radius: 5px; }

.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; }
  .servicios .servicios-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin: 20px; }
    .servicios .servicios-card img {
      width: 100%;
      height: 300px;
      margin-bottom: 10px;
      border-radius: 10px; }
    .servicios .servicios-card h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      margin: 0;
      margin-bottom: 10px;
      text-align: center; }
    .servicios .servicios-card a {
      background-color: #fe9a9a;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: bold; }

.informacion-profesional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 500px;
  padding-bottom: 30px;
  padding-top: 50px; }
  .informacion-profesional img {
    margin-left: 10px;
    max-width: 100%;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75); }
  .informacion-profesional .tex-informacion {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
    .informacion-profesional .tex-informacion p {
      color: #fe9a9a; }
    .informacion-profesional .tex-informacion a {
      display: inline-block;
      padding: 16px 32px;
      background-color: #fe9a9a;
      color: white;
      font-size: 19px;
      border-radius: 5px; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fe9a9a;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 50px 0; }
  footer .logo-footer {
    max-width: 100px; }
  footer .redessociales-footer {
    margin: 20px 0; }
    footer .redessociales-footer img {
      max-width: 40px;
      margin: 0 10px; }
  footer h3 a {
    color: white;
    font-size: 16px;
    margin: 0;
    transition: 0.4s; }
    footer h3 a:hover {
      color: #000000; }

@media screen and (max-width: 1629px) {
  .informacion-profesional {
    flex-direction: column;
    padding: 20px; }
    .informacion-profesional .tex-informacion {
      padding: 20px; } }

@media screen and (max-width: 800px) {
  header nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; }
    header nav img {
      width: 100px;
      right: 100px; }
    header nav .checkbtn {
      display: block; }
    header nav .bi, header nav .bi-list {
      display: flex; }
    header nav #check:checked ~ ul {
      left: 0; }
    header nav ul {
      display: block;
      position: fixed;
      top: 0px;
      left: -100%;
      background: #fe9a9a;
      width: 100%;
      height: 100vh;
      right: 0;
      z-index: 3; }
      header nav ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0; }
        header nav ul li a:hover {
          color: #ffffff; } }

@media screen and (max-width: 633px) {
  .foto-principal {
    margin: 10px; } }
