@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * ul {
    list-style: none; }
  * a {
    text-decoration: none; }

/*----------PALETA DE COLOR----------*/
.barra-notificaciones {
  background-color: #fe9a9a;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .barra-notificaciones a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 25px; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header #btn_menu {
    display: none; }
  header label {
    display: none;
    width: 1.87em;
    padding: 0.937em;
    height: 1.87em; }
    header label:hover {
      cursor: pointer; }
  header nav ul {
    display: flex;
    flex-flow: row wrap; }
    header nav ul li {
      margin: 0;
      padding: 0; }
      header nav ul li a {
        display: block;
        padding: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #000000;
        transition: 0.5s; }
        header nav ul li a:hover {
          color: #fe9a9a; }

main .foto-principal {
  background-image: url(../img/nails.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-right: 70px;
  margin-left: 70px;
  border-radius: 15px; }
  main .foto-principal h1 {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 0;
    font-size: 48px;
    text-align: center; }
  main .foto-principal .botton-principal {
    margin-top: 16px; }
    main .foto-principal .botton-principal a {
      font-family: "Open Sans", sans-serif;
      display: inline-block;
      padding: 16px 32px;
      background-color: #fe9a9a;
      color: white;
      font-size: 19px;
      border-radius: 5px; }

main .servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; }
  main .servicios .servicios-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin: 20px; }
    main .servicios .servicios-card img {
      width: 100%;
      height: 300px;
      margin-bottom: 10px;
      border-radius: 10px; }
    main .servicios .servicios-card h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      margin: 0;
      margin-bottom: 10px;
      text-align: center; }
    main .servicios .servicios-card a {
      background-color: #fe9a9a;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: bold; }

main .informacion-profesional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 500px;
  padding-bottom: 30px;
  padding-top: 50px; }
  main .informacion-profesional img {
    margin-left: 10px;
    max-width: 100%;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75); }
  main .informacion-profesional .tex-informacion {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
    main .informacion-profesional .tex-informacion p {
      color: #fe9a9a; }

main .servicios-pagina h1 {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px; }
  main .servicios-pagina h1 span {
    color: #fe9a9a; }

main .servicios-pag {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center; }
  main .servicios-pag .servicios-card-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin: 20px; }
    main .servicios-pag .servicios-card-pagina img {
      width: 100%;
      height: 300px;
      margin-bottom: 10px;
      border-radius: 10px; }
    main .servicios-pag .servicios-card-pagina h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      margin: 0;
      margin-bottom: 10px;
      text-align: center; }
    main .servicios-pag .servicios-card-pagina a {
      background-color: #fe9a9a;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: bold; }

main .galeria-pag h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif; }
  main .galeria-pag h1 span {
    color: #fe9a9a; }

main .carrussel {
  padding: 40px; }

main .conteiner-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px; }
  main .conteiner-img .box-img {
    width: 100%;
    height: 100%; }
    main .conteiner-img .box-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .conteiner-img .box-img:nth-child(1) {
      grid-column-start: span 2; }
    main .conteiner-img .box-img:nth-child(4) {
      grid-row-start: span 2; }

main .curso-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif; }
  main .curso-pagina span {
    color: #fe9a9a; }

main .carrusel-cursos {
  padding: 50px; }

main .informacion-curso {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  main .informacion-curso h2 {
    font-family: "Open Sans", sans-serif;
    text-align: center; }
    main .informacion-curso h2 span {
      color: #fe9a9a; }
  main .informacion-curso .card-curso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px; }
    main .informacion-curso .card-curso a {
      background-color: #fe9a9a;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      font-weight: bold; }

main .plataforma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  font-family: "Open Sans", sans-serif; }
  main .plataforma h2 {
    color: #000000;
    text-align: center; }
  main .plataforma p {
    color: #fe9a9a;
    text-align: center; }
  main .plataforma a {
    background-color: #fe9a9a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold; }

main .cursos-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif; }
  main .cursos-pagina span {
    color: #fe9a9a; }

main .iniciar-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: "Open Sans", sans-serif; }
  main .iniciar-seccion button {
    background-color: #fe9a9a;
    color: #ffffff; }

main .contacto-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif; }
  main .contacto-pagina span {
    color: #fe9a9a; }

main .informacion-pagina {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 500px;
  padding-bottom: 30px;
  padding-top: 50px; }
  main .informacion-pagina img {
    margin-left: 10px;
    max-width: 100%;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75); }
  main .informacion-pagina .tex-informacion {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
    main .informacion-pagina .tex-informacion p {
      color: #fe9a9a; }
    main .informacion-pagina .tex-informacion a {
      display: inline-block;
      padding: 16px 32px;
      background-color: #fe9a9a;
      color: white;
      font-size: 19px;
      border-radius: 5px; }

main .mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; }

main .ubicacion-contacto {
  display: flex;
  justify-content: space-around;
  margin-top: 70px; }
  main .ubicacion-contacto i {
    color: #000000;
    font-size: 50px;
    transition: 0.3s; }
    main .ubicacion-contacto i:hover {
      color: #fe9a9a; }
  main .ubicacion-contacto .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s; }
    main .ubicacion-contacto .item p {
      font-family: "Open Sans", sans-serif;
      font-size: 20px; }

main .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  font-family: "Open Sans", sans-serif; }
  main .formulario button {
    display: inline-block;
    padding: 16px 32px;
    background-color: #fe9a9a;
    color: white;
    font-size: 19px;
    border-radius: 5px;
    margin-left: 800px;
    margin-right: 800px; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fe9a9a;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 50px 0; }
  footer .logo-footer {
    max-width: 100px; }
  footer .redessociales-footer {
    margin: 20px 0; }
    footer .redessociales-footer img {
      max-width: 40px;
      margin: 0 10px; }
  footer h3 a {
    color: white;
    font-size: 16px;
    margin: 0;
    transition: 0.4s; }
    footer h3 a:hover {
      color: #000000; }

@media screen and (max-width: 1629px) {
  main .informacion-profesional {
    flex-direction: column;
    padding: 20px; }
    main .informacion-profesional .tex-informacion {
      padding: 20px; }
  main .informacion-pagina {
    flex-direction: column;
    padding: 20px; }
    main .informacion-pagina .tex-informacion {
      padding: 20px; } }

@media screen and (max-width: 979px) {
  main .card-curso {
    flex-direction: column; } }

@media screen and (max-width: 800px) {
  main .carrussel {
    padding: 5px; }
  main .conteiner-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-rows: 200px; }
    main .conteiner-img .box-img:nth-child(1) {
      grid-column-start: span 1; }
  main .carrusel-cursos {
    padding: 5px; }
  main .mapa {
    padding: 10px; }
  main .ubicacion-contacto i {
    padding: 30px; } }

@media screen and (max-width: 771px) {
  main .ubicacion-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 70px; } }

@media screen and (max-width: 633px) {
  header {
    flex-direction: row;
    justify-content: space-around; }
    header #btn_menu:checked ~ .menu {
      margin: 0; }
    header .logo-header {
      padding-right: 250px; }
      header .logo-header img {
        height: 150px; }
    header label {
      display: block;
      position: relative;
      right: 25px; }
      header label img {
        width: 30px;
        right: auto; }
    header .menu {
      position: absolute;
      top: 180px;
      background: #fe9a9a;
      width: 20.25em;
      right: 1em;
      margin-right: -50.25em;
      transition: all 0.5s;
      z-index: 3; }
      header .menu ul {
        flex-direction: column;
        text-align: center; }
        header .menu ul li a:hover {
          color: white; }
  main .foto-principal {
    margin: 10px; } }

@media screen and (max-width: 500px) {
  main .conteiner-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr); }
    main .conteiner-img .box-img {
      height: 200px; } }
