.galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-poppins);
}

.galeriaContenedor {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  gap: 1rem;
  justify-content: center;
}

.galeriaItem {
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.galeriaItem:hover {
  transform: scale(1.02);
}

.galeriaItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.skeleton {
  background-color: #ddd;
  animation: pulse 1.5s infinite;
}

@media screen and (max-width: 884px) {
  .galeriaContenedor {
    width: 900px;
  }
}

@media screen and (max-width: 490px) {
  .galeriaContenedor {
    width: 400px;
  }

  .galeriaItem {
    width: 150px;
    height: 150px;
  }
}
