.seguidores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 400px;
  height: 340px;
  border-radius: 1rem;
  background-color: #94d7c5;
}

.numSeguidores {
  font-size: 3rem;
  font-weight: 600;
}

.seguidores h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.perfil {
  font-size: 1rem;
  width: 74%;
  color: #000000c4;
}

.act {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #000000c4;
}

@media screen and (max-width: 490px) {
  .seguidores {
    width: 370px;
  }
}
