.CardContainer {
  perspective: 1000px;
  margin: 4rem auto;
  font-family: var(--font-poppins);
}
.Card {
  width: 525px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.Front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Front {
  background-color: #f3f3f3;
}

.ContactContainer {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
}

.ContactContainer h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #000;
}

.ContactContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ContactContainer form a {
  font-size: 0.9rem;
}

.Links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.ContactContainer form input,
.ContactContainer form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #000000;
  background-color: #fff;
}

.ContactContainer form button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #94d7c5;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1rem;
  color: #000;
  width: 80px;
  font-weight: 500;
  align-self: flex-end;
}

.ContactContainer form button:hover {
  transform: scale(1.02);
}

.ContactContainer form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.CardContainer {
  perspective: 1000px;
  width: 525px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.Flipped {
  transform: rotateY(180deg);
}

.Error {
  font-size: 0.9rem;
  color: red;
}

@media screen and (max-width: 1105px) {
  .CardContainer {
    width: 400px;
  }
}

@media screen and (max-width: 815px) {
  .CardContainer {
    width: 330px;
  }
}

@media screen and (max-width: 430px) {
  .CardContainer {
    width: 400px;
  }
}

@media screen and (max-width: 390px) {
  .CardContainer {
    width: 330px;
  }
}
