footer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-principal;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding: 50px 0;
    .logo-footer {
        max-width: 100px;
    }
    .redessociales-footer {
        margin: 20px 0;
        img{
            max-width: 40px;
            margin: 0 10px;
            transition: 1s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    h3{
        a{
            color: white;
            font-size: 16px;
            margin: 0;
            transition: 1.2s;
            &:hover{
                color: #000000;
            }
        }
    }
}