footer { 
    @include flex(column, nowrap, center, center);
    background-color: $color-principal;
    @include font(#ffffff, "Open Sans", sans-serif, 20px);
    padding: 50px 0;
    .logo-footer {
        max-width: 100px;
    }
    .redessociales-footer {
        margin: 20px 0;
            i {
                color: nth($colores-neutros, 2);
                font-size: 45px;
                transition: 1s;
                padding: 5px;
                &:hover {
                    color: nth($colores-neutros, 1);
                }
        }
    }
    h3 {
        a{
            color: nth($colores-neutros, 2);
            font-size: 16px;
            margin: 0;
            transition: 1.2s;
            &:hover{
                color: nth($colores-neutros, 1);
            }
        }
    }
}