.barra-notificaciones {
    background-color: $color-principal;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    a { 
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 25px;
    }
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #btn_menu {
        display: none;
    }
    label{
        display: none;
        width: 1.87em;
        padding: 0.937em;
        height: 1.87em;
        &:hover {
            cursor: pointer;
        }
    }
    nav {
        ul{
            display: flex;
            flex-flow: row wrap;
            li {
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    padding: 16px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 700;
                    color: #000000;
                    transition: 0.5s;
                    &:hover {
                        color: $color-principal;
                    }
                }
            }
        }
    }
}
