main {
    .foto-principal {
        background-image: url(../img/nails.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 450px;
        margin-right: 70px;
        margin-left: 70px;
        border-radius: 15px;
        h1 {
            font-family: "Open Sans", sans-serif;
            color: white;
            margin: 0;
            font-size: 48px;
            text-align: center;
        }
        .botton-principal {
            margin-top: 16px;
            a {
                font-family: "Open Sans", sans-serif;
                display: inline-block;
                padding: 16px 32px;
                background-color: $color-principal;
                color: white;
                font-size: 19px;
                border-radius: 5px;
            }
        }
    }
    .servicios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        .servicios-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            height: auto;
            background-color: #fff;
            border-radius: 5px;
            padding: 30px;
            margin: 20px;
            img {
                width: 100%;
                height: 300px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            h3 {
                font-family: "Open Sans", sans-serif;
                font-size: 20px;
                margin: 0;
                margin-bottom: 10px;
                text-align: center;
            }
            a {
                background-color: $color-principal;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px;
                font-family: "Open Sans", sans-serif;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    .informacion-profesional {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 300px;
        padding-right: 500px;
        padding-bottom: 30px;
        padding-top: 50px;
        img {
            margin-left: 10px;
            max-width: 100%;
            box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
        }
        .tex-informacion {
            text-align: center;
            font-family: "Open Sans", sans-serif;
            p {
                color: $color-principal;
            }
        }
    }
    .servicios-pagina {
        h1 {
            display: flex;
            justify-content: center;
            font-family: "Open Sans", sans-serif;
            margin-top: 20px;
            margin-bottom: 20px;
            span {
                color: $color-principal;
            }
        }
    }
    .servicios-pag {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        .servicios-card-pagina {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            height: auto;
            background-color: #fff;
            border-radius: 5px;
            padding: 30px;
            margin: 20px;
            img {
                width: 100%;
                height: 300px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            h3 {
                font-family: "Open Sans", sans-serif;
                font-size: 20px;
                margin: 0;
                margin-bottom: 10px;
                text-align: center
            }
            a {
                background-color: $color-principal;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px;
                font-family: "Open Sans", sans-serif;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    .galeria-pag {
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Open Sans", sans-serif;
            span {
                color: $color-principal;
            }
        }
    }
    .carrussel {
        padding: 40px;
    }
    .conteiner-img {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 250px;
        grid-gap: 20px;
        .box-img {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:nth-child(1) {
                grid-column-start: span 2;
            }
            &:nth-child(4) {
                grid-row-start: span 2;
            }
        }
    }
    .curso-pagina {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans", sans-serif;
        span {
            color: $color-principal;
        }
    }
    .carrusel-cursos {
        padding: 50px;
    }
    .informacion-curso {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            font-family: "Open Sans", sans-serif;
            text-align: center;
            span {
                color: $color-principal;
            }
        }
        .card-curso {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            padding: 20px;
            a {
                background-color: $color-principal;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px;
                font-family: "Open Sans", sans-serif;
                font-size: 17px;
                font-weight: bold;
            }
        }
    }
    .plataforma {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px;
        font-family: "Open Sans", sans-serif;
        h2 {
            color: #000000;
            text-align: center;
        }
        p { 
            color: $color-principal;
            text-align: center;
        }
        a {
            background-color: $color-principal;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .cursos-pagina {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans", sans-serif;
        span {
            color: $color-principal;
        }
    }
    .iniciar-seccion {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        font-family: "Open Sans", sans-serif;
        button {
            background-color: $color-principal;
            color: #ffffff;
        }
    }
    .contacto-pagina {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans", sans-serif;
        span {
            color: $color-principal;
        }
    }
    .informacion-pagina {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 300px;
        padding-right: 500px;
        padding-bottom: 30px;
        padding-top: 50px;
        img {
            margin-left: 10px;
            max-width: 100%;
            box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
        }
        .tex-informacion {
            text-align: center;
            font-family: "Open Sans", sans-serif;
            p {
                color: $color-principal;
            }
            a {
                display: inline-block;
                padding: 16px 32px;
                background-color: $color-principal;
                color: white;
                font-size: 19px;
                border-radius: 5px;
            }
        }
    }
    .mapa {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .ubicacion-contacto {
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        i {
            color: #000000;
            font-size: 50px;
            transition: 0.3s;
            &:hover {
                color: $color-principal;
            }
        }
        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            p {
                font-family: "Open Sans", sans-serif;
                font-size: 20px;
            }
        }
    }
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
    }
}