main {
    .foto-principal {
        @include flex(column, nowrap ,center, center);
        background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/nails.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        margin-right: 70px;
        margin-left: 70px;
        border-radius: 15px;
        h1 {
            @include font(#ffffff,"Open Sans", sans-serif, 48px);
            margin: 0;
            text-align: center;
        }
        .botton-principal {
            margin-top: 16px;
            a {
                @include font(#ffffff,"Open Sans", sans-serif, 19px);
                display: inline-block;
                padding: 16px 32px;
                background-color: $color-principal;
                border-radius: 5px;
                transition: 1s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    .servicios {
        @include flex(row, wrap ,space-around, center);
        .servicios-card {
            text-align: center;
            width: 300px;
            height: auto;
            background-color: nth($colores-neutros, 2);
            border-radius: 5px;
            padding: 30px;
            margin: 20px;
            img {
                width: 100%;
                height: 300px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            h3 {
                @include font(#080808, "Open Sans", sans-serif, 20px);
                margin: 0;
                margin-bottom: 25px;
            }
            a {
                background-color: map-get($map: $boton-precios, $key:bg-color);
                color: map-get($map: $boton-precios, $key:color-letras );
                padding: map-get($map: $boton-precios, $key: ancho );
                border-radius: map-get($map: $boton-precios, $key:redondeo );
                @include font(#ffffff, "Open Sans", sans-serif, 20px);
                font-weight: map-get($map: $boton-precios, $key: weight );
            }
            transition: 1s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .informacion-profesional {
        @include flex(row, nowrap, space-around, center);
        padding-left: 300px; 
        padding-right: 500px;
        padding-bottom: 30px;
        padding-top: 50px;
        img {
            margin-left: 10px;
            max-width: 100%;
            transition: 1s;
            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
            }
        }
        .tex-informacion {
            text-align: center;
            @include font(#000000, "Open Sans", sans-serif, 40px);
            p {
                @include font($color-principal, "Open Sans", sans-serif, 20px);
            }
        }
    }
    .servicios-pagina {
        h1 {
            @extend %center;
            @include font(#000000, "Open Sans", sans-serif, 30px);
            margin-top: 20px;
            margin-bottom: 20px;
            span {
                color: $color-principal;
            }
        }
    }
    .servicios-pag {
        @include flex(row, wrap ,space-evenly, center);
        .servicios-card-pagina {
            text-align: center;
            width: 300px;
            height: auto;
            background-color: nth($colores-neutros, 2);
            border-radius: 5px;
            padding: 30px;
            margin: 20px;
            transition: 1s;
            img {
                width: 100%;
                height: 300px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            h3 {
                @include font(#000000, "Open Sans", sans-serif, 20px);
                margin: 0;
                margin-bottom: 25px;
            }
            a {
                background-color: map-get($map: $boton-precios, $key:bg-color);
                color: map-get($map: $boton-precios, $key:color-letras );
                padding: map-get($map: $boton-precios, $key: ancho );
                border-radius: map-get($map: $boton-precios, $key:redondeo );
                @include font(#ffffff, "Open Sans", sans-serif, 20px);
                font-weight: map-get($map: $boton-precios, $key: weight );
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .galeria-pag {
        h1 {
            @extend %center;
            @include font(#000000, "Open Sans", sans-serif, 30px);
            span {
                color: $color-principal;
            }
        }
    }
    .carrussel {
        padding: 40px;
    }
    .conteiner-img {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 250px;
        grid-gap: 20px;
        .box-img {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1s;
                transition: 1s;
                &:hover {
                    transform: scale(1.0);
                    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                }
            }
            &:nth-child(1) {
                grid-column-start: span 2;
            }
            &:nth-child(4) {
                grid-row-start: span 2;
            }
        }
    }
    .curso-pagina {
        @extend %center;
        @include font(#000000, "Open Sans", sans-serif, 30px);
        span {
            color: $color-principal;
        }
    }
    .carrusel-cursos {
        padding: 50px;
    }
    .informacion-curso {
        @include flex(column, nowrap ,center, normal );
        h2 {
            @include font(#000000, "Open Sans", sans-serif, 30px);
            text-align: center;
            span {
                color: $color-principal;
            }
        }
        .card-curso {
            @include flex(row, wrap ,space-around, center);
            text-align: center;
            padding-bottom: 50px;
            a {
                background-color: $color-principal;
                border: none;
                border-radius: 5px;
                padding: 10px;
                @include font(#ffffff, "Open Sans", sans-serif, 17px);
            }
        }
    }
    .plataforma {
        @include flex(column, nowrap ,center, center);
        padding: 80px;
        font-family: "Open Sans", sans-serif;
        h2 {
            color: nth($colores-neutros, 1);
        }
        p { 
            color: $color-principal;
            text-align: center;
        }
        a {
            background-color: $color-principal;
            border: none;
            border-radius: 5px;
            padding: 10px;
            @include font(#ffffff, "Open Sans", sans-serif, 20px);
            transition: 1s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .cursos-pagina {
        @extend %center;
        @include font(#000000, "Open Sans", sans-serif, 30px);
        span {
            color: $color-principal;
        }
    }
    .iniciar-seccion {
        @extend %center;
        @include font(#000000, "Open Sans", sans-serif, 15px);
        padding: 40px;
        button {
            background-color: $color-principal;
            color: nth($colores-neutros, 2);
        }
    }
    .contacto-pagina {
        @extend %center;
        @include font(#000000, "Open Sans", sans-serif, 30px);
        span {
            color: $color-principal;
        }
    }
    .informacion-pagina {
        @include flex(row, nowrap ,space-between, center);
        padding-left: 300px;
        padding-right: 500px;
        padding-bottom: 30px;
        padding-top: 50px;
        img {
            margin-left: 10px;
            max-width: 100%;
            transition: 1s;
            &:hover {
                transform: scale(1.2);
                box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
            }
        }
        .tex-informacion {
            @include font(#000000,"Open Sans", sans-serif, 40px);
            text-align: center;
            p {
                @include font($color-principal,"Open Sans", sans-serif, 20px);
            }
            a {
                display: inline-block;
                padding: 16px 32px;
                background-color: $color-principal;
                @include font(#ffffff, "Open sans", sans-serif, 19px);
                border-radius: 5px;
                transition: 1s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    .mapa {
        @extend %center;
        padding: 50px;
    }
    .ubicacion-contacto {
        @include flex(row, nowrap, space-around,center);
        margin-top: 70px;
        i {
            color: nth($colores-neutros, 1 );
            font-size: 50px;
            transition: 0.3s;
            &:hover {
                color: $color-principal;
                transform: scale(1.2);
            }
        }
        .item {
            @include flex(column, nowrap, center, center);
            transition: 0.3s;
            p {
                @include font(#000000, "Open sans", sans-serif, 20px);
            }
        }
    }
    .formulario {
        @include flex(column, nowrap, center, normal);
        @include font(#000000, "Open sans", sans-serif, 15px);
        padding: 50px;
        button {
            @include font(#000000, "Open sans", sans-serif, 19px);
            text-align: center;
            
        }
    }
}