@media screen and (max-width: 1629px) {
    main .informacion-profesional {
        @include flex(column, nowrap, space-around, center);
        padding: 20px;
        .tex-informacion {
            padding: 20px;
        }
    }
    main .informacion-pagina {
        @include flex(column, nowrap ,space-between, center);
        padding: 20px;
        .tex-informacion {
            padding: 20px;
        }
    }
}
@media screen and (max-width: 979px) {
    main .card-curso {
        @include flex(column, nowrap ,space-around, center);
    }
}
@media screen and (max-width: 800px) {
    main .carrussel {
        padding: 5px;
    }
    main .conteiner-img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-template-rows: 200px;
        .box-img:nth-child(1) {
            grid-column-start: span 1;
        }
    }
    main .carrusel-cursos {
        padding: 5px;
    }
    main .mapa {
        padding: 10px;
    }
    main .ubicacion-contacto i {
        padding: 30px;
    }
}

@media screen and (max-width: 771px) {
main .ubicacion-contacto {
    @include flex(column, nowrap, space-around,center);
    margin-top: 70px;
    }
}

@media screen and (max-width: 661px) {
    header .barra-principal {
        @include flex(row, wrap , space-around , center );
        .logo-header {
            padding-right: 100px;
            img {
                height: 150px;
            }
        }
        .button {
            display: block;
        }
        .nav {
            width: 100%;
            display: none;
            opacity: 0;
            height: 0vh;
            pointer-events: none;
            overflow: hidden;
            transition: all .5s ease;
            @include flex(row, nowrap, center, center);
            .ul {
                @include flex( column, wrap , center, center );
            } 
            &.activo {
                display: flex;
                opacity: 1;
                height: 50vh;
                pointer-events: auto;
            }
        }
    }
    main .foto-principal {
        margin: 10px;
    }
}

@media screen and (max-width: 500px) {
    main .conteiner-img {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        .box-img {
            height: 200px;
        }
    }
}