@media screen and (max-width: 1629px) {
    main .informacion-profesional {
        flex-direction: column;
        padding: 20px;
        .tex-informacion {
            padding: 20px;
        }
    }
    main .informacion-pagina {
        flex-direction: column;
        padding: 20px;
        .tex-informacion {
            padding: 20px;
        }
    }
}
@media screen and (max-width: 979px) {
    main .card-curso {
        flex-direction: column;
    }
}
@media screen and (max-width: 800px) {
    main .carrussel {
        padding: 5px;
    }
    main .conteiner-img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-template-rows: 200px;
        .box-img:nth-child(1) {
            grid-column-start: span 1;
        }
    }
    main .carrusel-cursos {
        padding: 5px;
    }
    main .mapa {
        padding: 10px;
    }
    main .ubicacion-contacto i {
        padding: 30px;
    }
}

@media screen and (max-width: 771px) {
main .ubicacion-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 70px;
    }
}

@media screen and (max-width: 633px) {
    header {
        flex-direction: row;
        justify-content: space-around;
        #btn_menu:checked~.menu {
            margin: 0;
        }
        .logo-header {
            padding-right: 250px;
            img {
                height: 150px;
            }
        }
        label {
            display: block;
            position: relative;
            right: 25px;
            img {
                width: 30px;
                right: auto;
            }
        }
        .menu {
            position: absolute;
            top: 180px;
            background: $color-principal;
            width: 20.25em;
            right: 1em;
            margin-right: -50.25em;
            transition: all 0.5s;
            z-index: 3;
            ul {
                flex-direction: column;
                text-align: center;
                li {
                    a:hover {
                        color: white;
                    }
                }
            }
        }
    }
    main .foto-principal {
        margin: 10px;
    }
}

@media screen and (max-width: 500px) {
    main .conteiner-img {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        .box-img {
            height: 200px;
        }
    }
}