
$color-principal:#fe9a9a;

@mixin flex($dir,$wrap,$just,$align){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin font($color,$family,$sans,$size){
    color: $color;
    font-family: $family, $sans;
    font-size: $size;
}


$colores-neutros:
#000000,
#ffffff;


$boton-precios:(
    bg-color: #fe9a9a,
    color-letras: #ffffff,
    redondeo: 5px,
    ancho:10px,
    weight: bold,
);

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}
