.navContainerResponsive {
  position: relative;
  display: none;
}

.toggleBtn {
  padding: 5px 10px;
  margin: 20px;
  cursor: pointer;
  background: none;
  border: none;
  color: #000000;
  border-radius: 10px;
  font-size: 2em;
}

.navR {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #94d7c5;
  color: #000000;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  gap: 1rem;
}

.navRShow {
  right: 0;
}

.closeBtn {
  align-self: flex-end;
  padding: 15px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}

.navResponsive .navUl {
  list-style: none;
  padding: 0;
}

.navResponsive .navUl .linkResp {
  margin: 10px 0;
  font-size: 1.2em;
  list-style: none;
  text-decoration: none;
}

.navResponsive .navUl li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.loginResponsive {
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

@media screen and (max-width: 430px) {
  .navContainerResponsive {
    display: block;
  }
}
