.cursos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 68%;
  gap: 1rem;
  font-family: var(--font-poppins);
}

.cursos h1 {
  font-size: 1.2rem;
}

.contenedorCard {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.contenedorCard article {
  padding: 1rem;
  width: 400px;
  height: 180px;
  background-color: #94d7c5;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

.contenedorCard article div {
  display: flex;
  flex-direction: column;
}

.contenedorCard article div h2 {
  font-size: 1.2rem;
}

.contenedorCard article a {
  align-self: flex-end;
  font-weight: 600;
}
.buttonDelete button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.buttonDelete button:hover {
  background-color: #ff4d4d;
}





@media screen and (max-width: 884px) {
  .cursos {
    gap: 1rem;
    width: 90%;
  }
  .contenedorCard article {
    gap: 2rem;
    width: 500px;

    height: auto;
  }

  .contenedorCard article div h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 490px) {
  .cursos {
    width: 99%;
    text-align: center;
  }

  .contenedorCard {
    justify-content: center;
  }

  .contenedorCard article {
    gap: 0;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .contenedorCard article div h2 {
    font-size: 1rem;
  }

  .contenedorCard article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }

  .contenedorCard article p {
    font-size: 0.7rem;
  }

  .contenedorCard article a {
    font-size: 0.8rem;
    align-self: center;
  }
}

