.ultimoServicio {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 505px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  border-radius: 1rem;
  font-family: var(--font-poppins);
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.ultimoServicio h2,
.ultimoServicio p {
  position: relative;
  z-index: 1;
  color: #fff;
}

.ultimoServicio h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.ultimoServicio p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1360px) {
  .ultimoServicio {
    width: 395px;
  }
}

@media screen and (max-width: 884px) {
  .ultimoServicio {
    width: 830px;
    height: 510px;
  }
}

@media screen and (max-width: 430px) {
  .ultimoServicio {
    height: 190px;
    width: 500px;
  }
}
